<div class="chanels_workspace">
            <div class="save_chngs" onclick="save_changes()"><p>Сохранить изменения</p></div>
            <div class="col_titles">
                <div class="col_tit"><p>Название канала</p></div>
                <div class="col_tit"><p>id канала</p></div>
                <div class="col_tit"><p>реферальный код</p></div>
            </div>
            <div class="chanels_col" id="ins_ch"></div>
            <input type="button" value="+" onclick="add_chanel()">
        </div>