<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', path='/js/list_posts.js') }}"></script>
	<title>Список всех постов</title>
</head>
<body>
    {% include "hat.html" %}



    <div id="posts" class="list_of_posts">
        
    </div>
    <script>window.onload=get_p();</script>
</body>
