<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', path='/js/list_posts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/list_posts_fetch.js') }}"></script>
<!-- Две следующие строки - подключение js файлов для фичи с каналами -->
    <script type="text/javascript" src="{{ url_for('static', path='/js/chanels_ws_scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/chanels_ws_scripts_fetch.js') }}"></script>

	<title>Список всех постов</title>
</head>
<body>
    {% include "hat.html" %}


    <div class="lp_ws">
        <div id="posts" class="list_of_posts"></div>
        {% include "chanels_workspace.html" %}
    </div>
    <script>window.onload=renders();</script>
</body>
